.parent{
    height:2rem;
    width: 97.7%;
    background-color: #7fffd4;
    position:  fixed;
    margin-left: 0.95rem;
    margin-right: 0.9rem;
    position: relative;
}
.main{
    position:  relative;
    margin-left: 2rem;
    display: grid;
    width: 10%;
    display: inline-flex;
}
.child{
  position: relative;
  height: 2rem;
  width: 7rem;
  text-align: center;
  color: blue;
  background-color: chartreuse;
  border-radius: 10px;
  letter-spacing: 0.7px;
}
.child-n{
    position: relative;
    left: 35rem;
    height: 2rem;
    width: 9rem;
    text-align: center;
    color: rgb(237, 23, 33);
    background-color: rgb(229, 240, 20);
    border-radius: 10px;
    letter-spacing: 0.7px;
  }
  .page{
    width: 97.7%;
    height:40rem;
    margin-left: 0.95rem;
    background-color: rgb(188, 232, 232);
    position: relative;
  }
  .card{
    position: relative;
    margin-left: 26rem;
    width: 20rem;
    background-color: rgb(188, 232, 232);
    height: 29rem;
    border: none;
  }
  h3{
    font-size: 18px;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  span{
    font-size: 20px;
    color: red;
    letter-spacing: 0.5px;
  }
  